table, th, td {
  border: 1px solid black;
  text-align:center;
}

/* table th, td {
    background-color: rgb(255,255,255);
    table-layout: fixed;
    text-align:center;
    width: 100px;
    height: 50px;
    display: inline-block;
}

table {
    margin-left: 100px;
    margin-right: 100px;
} */

table {
    background-color: rgb(255,255,255);
    table-layout: fixed;
    width: 70%;
  }
  
  td {
    background-color: rgb(255,255,255);
    width: 100px;
    height: 50px;
    overflow: hidden;
    font-weight:bold;
  }

  th {
    background-color: rgb(220,220,220);
    height: 50px;
  }

body {
    background-color: rgba(0,0,0,0.5);
    display: grid;
    grid-template-areas:
        "header header header"
        "aside aside aside"
        "main main main"
        "footer footer footer";
}

ul li {
    text-align:center;
    white-space:nowrap;
    list-style-position: outside;
}

.cabecalho {
  grid-area: header;
}

.campos {
    grid-area: aside;
  
}

.inicial{
    display:none;
}

.main_tabela {
    display:none;
    grid-area: main;
}

.saida{
    display:none;
}

.rodape {
  grid-area: footer;
}


.btn {
    border:1px solid #25692A;
    border-radius:4px;
    display:inline-block;
    cursor:pointer;
    font-family:Verdana;
    font-weight:bold;
    font-size:13px;
    padding:6px 10px;
    text-decoration:none;
}
